.Page {
  margin: 100px auto;
  height: 100vh;
  max-width: 75%;
  @include breakpoint(large) { max-width: 60%; }
  @include breakpoint(medium) { max-width: 80%; }
  @include breakpoint(small) { max-width: 95%; }
}
