[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Taras Havrysh (gipsy)
[access "refs/for/refs/*"]
	read = group user/Taras Havrysh (gipsy)
	push = group user/Taras Havrysh (gipsy)
	label-Code-Review = -2..+2 group user/Taras Havrysh (gipsy)
	label-Verified = -1..+1 group user/Taras Havrysh (gipsy)
	rebase = group user/Taras Havrysh (gipsy)
	removeReviewer = group user/Taras Havrysh (gipsy)
	submit = group user/Taras Havrysh (gipsy)
[access "refs/heads/*"]
	read = group user/Taras Havrysh (gipsy)
	create = group user/Taras Havrysh (gipsy)
	push = +force group user/Taras Havrysh (gipsy)
	pushMerge = group user/Taras Havrysh (gipsy)
[access "refs/tags/*"]
	push = group user/Taras Havrysh (gipsy)
	push = +force group user/Taras Havrysh (gipsy)
