@import './variables';
@import '~font-awesome/scss/font-awesome';

@import './mixins';

// Components
@import './components/component.Page';
@import './components/component.Navigation';
@import './components/component.Logo';
@import './components/component.NavLink';
@import './components/component.ToolbarFixed';
@import './components/component.FixedAppBar';

html, body {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  // padding: 0 0.8em;
  font-family: $font-default;
  font-size: 16px;
}

:global(#root) {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
