// #TODO all this stuff will be managed by aphrodite as inline styles


@import './variables';
@import '~font-awesome/scss/font-awesome';

@import './mixins';

html, body {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  // padding: 0 0.8em;
  font-family: $font-default;
  font-size: 16px;
}

:global(#root) {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
